/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require nivo
 */

 .list_candidats{
	border: 2px solid #373a3c;
	width: 100%;
	text-align:center;
 }
 
 .list_candidats thead th{
	text-align:center !important;
 }
 
@media (min-width: 768px){
	header {
		min-height: 100%;
	}
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: image-url("banner.jpg");
    text-align: center;
    color: white;
}
#slider{
    height: 398px;
}

footer{
	width: 100%;
	background-color: #373a3c !important;
	text-align: center;
	color: #fff;
}

.login_form{
	width: 60%;
	margin: 0 auto;
    border: 1px solid #000;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px){
	.login_form{
		width: 100%;
	}
}