<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Candidats', url_for(action: 'index', controller: 'candidats'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Inscrire candidat', new_candidat_path, class: 'nav-link' %></li>